/*Estilização do corpo da página*/
body {
    color: white;
    background-color: black;
    text-align: center;
    font-family: 'Special Elite', cursive;
}
/*Fonte para os paragrafos*/
p {
    font-family: 'Cutive Mono', monospace;
}
/*Estilização do paragrafo e interação com o usúario*/
p:hover {
    background-color: #363b4e;
}
/*Configuração da lista de navegação*/
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 16px;
}
/*Estilização dos links*/
a {
    color: white;
    text-decoration: none;
}
/*Estilização da imagem*/
header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #927fbf;
}
/*Posicionamento da imagem*/
.center {
    text-align: center;
}
/*Estilização do cabeçalho h1*/
h1 {
    color: #4f3b78;
}
/*Estilização dos ícones das redes sociais*/
footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}
/*Estilização do container*/
.container {
    padding: 0px 50px;
}
/*Hover da navegação dos links*/
nav a:hover {
    color: #927fbf;
}
